@import "tailwindcss";


input {
  @apply bg-white rounded-lg p-2 w-[80%] text-black
}

@keyframes gradient-pan {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.glow-button {
  background: linear-gradient(270deg,
      #ff0000 0%,
      #ff8c00 25%,
      #00ffff 50%,
      #ff00ff 75%,
      #ff0000 100%);
  background-size: 10000% 300%;
  animation: gradient-pan 7s linear infinite;

  box-shadow: 0 0 30px rgba(255, 0, 0, 0.4),
    0 0 60px rgba(255, 140, 0, 0.3),
    0 0 90px rgba(0, 255, 255, 0.25);

  color: white;
  border-radius: 0.5rem;
  font-weight: 500;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;

  transition: box-shadow 0.3s ease;
}

.glow-button:hover {
  box-shadow: 0 0 90px rgba(255, 0, 0, 0.8),
    0 0 90px rgba(255, 140, 0, 0.8),
    0 0 130px rgba(0, 255, 255, 0.8);
}


.recent {
  display: grid;
  grid-template-columns: 0.1fr 10fr 8fr 4fr;
}
